# História das Olimpíadas  
_(créditos ao prof. Rafael Moreira)_

Após um ano de atraso por conta da pandemia de Covid-19, as atenções do mundo todo se voltaram para Tóquio, no Japão, para acompanhar mais uma edição das Olimpíadas.

No Brasil não foi diferente, e muitos se uniram para torcer por nossos atletas em diferentes competições, tanto em esportes onde o Brasil já possui tradição quanto em novos esportes.

Vamos aproveitar o clima para estudar um pouco das Olimpíadas! Utilizaremos um _dataset_ com 120 anos de dados históricos das Olimpíadas, cobrindo desde os jogos de Atenas 1896 até Rio 2016. 

Faça o download do _dataset_ em https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results e carregue o arquivo ```athlete_events.csv``` para um DataFrame utilizando Pandas. Aproveite para explorar seu DataFrame e se familiarizar com a sua estrutura. 

OBS: Fique à vontade para acrescentar mais células Python conforme necessário em qualquer etapa do exercício.

## 1. O Brasil nas Olimpíadas

Vamos começar estudando o desempenho do nossos próprio país. Gere um DataFrame novo contendo apenas as informações sobre atletas brasileiros.

In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\lucas\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\lucas\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\lucas\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\lucas\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: six>=1.5 in c:\users\lucas\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('../data/athlete_events.csv')

df_brazil = df.loc[df['Team'] == 'Brazil']

df_brazil.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
665,386,Alexandre Abeid,M,22.0,194.0,92.0,Brazil,BRA,1972 Summer,1972,Summer,Munich,Volleyball,Volleyball Men's Volleyball,NaN
666,386,Alexandre Abeid,M,26.0,194.0,92.0,Brazil,BRA,1976 Summer,1976,Summer,Montreal,Volleyball,Volleyball Men's Volleyball,NaN
668,388,Abel Carlos da Silva Braga,M,19.0,190.0,73.0,Brazil,BRA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN
781,451,Diana Monteiro Abla,F,21.0,175.0,75.0,Brazil,BRA,2016 Summer,2016,Summer,Rio de Janeiro,Water Polo,Water Polo Women's Water Polo,NaN
1005,565,Glauclio Serro Abreu,M,26.0,185.0,75.0,Brazil,BRA,2004 Summer,2004,Summer,Athina,Boxing,Boxing Men's Middleweight,NaN

### Medalhistas

Vamos focar um pouco nos casos de sucesso do Brasil. Use o seu DataFrame anterior para filtrar apenas informações sobre **medalhistas** brasileiros. 

**DICA:** observe como a coluna ```Medal``` é representada quando o atleta não ganhou medalha.

In [6]:
df_brazil_with_medals = df_brazil.dropna(subset = ['Medal'])

df_brazil_with_medals.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1651,918,Ademir Roque Kaefer,M,24.0,179.0,74.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Football,Football Men's Football,Silver
1652,918,Ademir Roque Kaefer,M,28.0,179.0,74.0,Brazil,BRA,1988 Summer,1988,Summer,Seoul,Football,Football Men's Football,Silver
1668,925,Adenzia Aparecida Ferreira da Silva,F,25.0,187.0,65.0,Brazil,BRA,2012 Summer,2012,Summer,London,Volleyball,Volleyball Women's Volleyball,Gold
1733,966,Daniel Adler,M,26.0,180.0,72.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Sailing,Sailing Mixed Three Person Keelboat,Silver
1856,1020,Adriana Aparecida dos Santos,F,25.0,180.0,61.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Basketball,Basketball Women's Basketball,Silver

### Verão vs Inverno

Você deve ter notado que temos duas categorias distintas de jogos olímpicos, representados pela estação: temos os jogos de verão e os jogos de inverno, que ocorrem de maneira intercalada.

Agora que já conhecemos os medalhistas brasileiros, resposta: quantos atletas brasileiros receberam medalha nos jogos de verão e quantos receberam nos jogos de inverno?

In [7]:
df_brazil_with_medals.groupby(['Season']).size()

Season
Summer    449
dtype: int64

Os jogos de verão são bem mais populares do que os jogos de inverno no Brasil. Portanto, deste ponto em diante iremos focar apenas nos jogos de verão. Descarte de seu DataFrame os dados dos jogos de inverno.

In [8]:
df_brazil_with_medals_summer = df_brazil_with_medals.loc[df_brazil_with_medals['Season'] == 'Summer']

df_brazil_with_medals_summer.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1651,918,Ademir Roque Kaefer,M,24.0,179.0,74.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Football,Football Men's Football,Silver
1652,918,Ademir Roque Kaefer,M,28.0,179.0,74.0,Brazil,BRA,1988 Summer,1988,Summer,Seoul,Football,Football Men's Football,Silver
1668,925,Adenzia Aparecida Ferreira da Silva,F,25.0,187.0,65.0,Brazil,BRA,2012 Summer,2012,Summer,London,Volleyball,Volleyball Women's Volleyball,Gold
1733,966,Daniel Adler,M,26.0,180.0,72.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Sailing,Sailing Mixed Three Person Keelboat,Silver
1856,1020,Adriana Aparecida dos Santos,F,25.0,180.0,61.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Basketball,Basketball Women's Basketball,Silver

### Atletas do Brasil

Vamos conhecer um pouco melhor nossos atletas. Descubra a altura e peso médio de nossos medalhistas.

Imaginamos que diferentes esportes podem beneficiar diferentes tipos físicos, certo? Então refaça a análise anterior, mas obtendo os valores médios **por esporte**.

In [9]:
print(f'Altura media: {round(df_brazil_with_medals_summer["Height"].mean(), 2)} cm')
print(f'Peso medio: {round(df_brazil_with_medals_summer["Weight"].mean(), 2)} Kg')

Altura media: 182.36 cm
Peso medio: 76.62 Kg

In [10]:
df_brazil_with_medals_summer_groupby_sport_height = round(df_brazil_with_medals_summer.groupby(["Sport"])["Height"].mean(), 2)

print(f'Altura media por esporte:\n {df_brazil_with_medals_summer_groupby_sport_height}')

Altura media por esporte:
 Sport
Athletics            181.00
Basketball           185.61
Boxing               170.00
Canoeing             175.00
Equestrianism        179.67
Football             175.80
Gymnastics           162.75
Judo                 176.67
Modern Pentathlon    166.00
Sailing              181.59
Shooting             175.00
Swimming             189.11
Taekwondo            184.00
Volleyball           190.59
Name: Height, dtype: float64

In [11]:
df_brazil_with_medals_summer_groupby_sport_weight = round(df_brazil_with_medals_summer.groupby(["Sport"])["Weight"].mean(), 2)

print(f'Peso medio por esporte:\n {df_brazil_with_medals_summer_groupby_sport_weight}')

Peso medio por esporte:
 Sport
Athletics            74.58
Basketball           78.48
Boxing               64.00
Canoeing             83.25
Equestrianism        75.00
Football             69.96
Gymnastics           63.75
Judo                 86.29
Modern Pentathlon    55.00
Sailing              80.41
Shooting             69.00
Swimming             81.56
Taekwondo            79.50
Volleyball           81.17
Name: Weight, dtype: float64

Será que os dados acima influenciaram no interesse geral dos atletas pelo esporte ou realmente impactaram no desempenho deles? Podemos tentar descobrir se há algum tipo de correlação.

Você ainda possui o dataframe original contendo todos os atletas brasileiros, incluindo os sem medalha? Obtenha os valores médios de peso e altura por esporte daquele dataframe e compare-o com os dos medalhistas. Há alguma diferença significativa em algum esporte?

In [12]:
df_brazil_summer = df_brazil.loc[df_brazil['Season'] == 'Summer']

df_brazil_summer_groupby_sport_weight = round(df_brazil_summer.groupby(["Sport"])["Weight"].mean(), 2)

series = {
    'With Medals': df_brazil_with_medals_summer_groupby_sport_weight,
    'Without Medals': df_brazil_summer_groupby_sport_weight
}

pd.DataFrame(series)

                       With Medals  Without Medals
Sport
Archery                        NaN           71.70
Art Competitions               NaN             NaN
Athletics                    74.58           67.80
Badminton                      NaN           74.00
Basketball                   78.48           85.90
Boxing                       64.00           64.11
Canoeing                     83.25           77.40
Cycling                        NaN           66.87
Diving                         NaN           64.97
Equestrianism                75.00           72.31
Fencing                        NaN           73.36
Football                     69.96           67.76
Golf                           NaN           62.00
Gymnastics                   63.75           52.46
Handball                       NaN           80.77
Hockey                         NaN           76.12
Judo                         86.29           80.29
Modern Pentathlon            55.00           60.67
Rhythmic Gymnastics            NaN           48.16
Rowing                         NaN           80.09
Rugby Sevens                   NaN           72.88
Sailing                      80.41           76.81
Shooting                     69.00           76.92
Swimming                     81.56           74.59
Synchronized Swimming          NaN           57.42
Table Tennis                   NaN           64.18
Taekwondo                    79.50           63.62
Tennis                         NaN           72.22
Trampolining                   NaN           58.00
Triathlon                      NaN           64.40
Volleyball                   81.17           78.85
Water Polo                     NaN           81.47
Weightlifting                  NaN           85.64
Wrestling                      NaN           83.15

In [13]:
df_brazil_summer = df_brazil.loc[df_brazil['Season'] == 'Summer']

df_brazil_summer_groupby_sport_height = round(df_brazil_summer.groupby(["Sport"])["Height"].mean(), 2)

series = {
    'With Medals': df_brazil_with_medals_summer_groupby_sport_height,
    'Without Medals': df_brazil_summer_groupby_sport_height
}

pd.DataFrame(series)

                       With Medals  Without Medals
Sport
Archery                        NaN          172.60
Art Competitions               NaN             NaN
Athletics                   181.00          176.20
Badminton                      NaN          175.50
Basketball                  185.61          190.91
Boxing                      170.00          171.99
Canoeing                    175.00          177.79
Cycling                        NaN          174.24
Diving                         NaN          167.44
Equestrianism               179.67          177.43
Fencing                        NaN          179.20
Football                    175.80          173.37
Golf                           NaN          170.00
Gymnastics                  162.75          157.27
Handball                       NaN          181.47
Hockey                         NaN          177.44
Judo                        176.67          173.93
Modern Pentathlon           166.00          168.60
Rhythmic Gymnastics            NaN          164.16
Rowing                         NaN          180.55
Rugby Sevens                   NaN          171.24
Sailing                     181.59          179.59
Shooting                    175.00          174.04
Swimming                    189.11          181.18
Synchronized Swimming          NaN          168.46
Table Tennis                   NaN          169.73
Taekwondo                   184.00          173.77
Tennis                         NaN          182.62
Trampolining                   NaN          168.00
Triathlon                      NaN          175.80
Volleyball                  190.59          187.76
Water Polo                     NaN          179.89
Weightlifting                  NaN          169.91
Wrestling                      NaN          176.23

Existe um detalhe importante passando batido até agora em nossa análise: as categorias esportivas costumam ser divididas por gênero justamente por conta de diferenças físicas entre homens e mulheres que poderiam influenciar no desempenho. Compare a altura e peso médios de atletas brasileiros por esporte segmentado por sexo.

In [14]:
df_brazil_summer_groupby_sport_and_sex_height = round(df_brazil_summer.groupby(["Sport", "Sex"])["Height"].mean(), 2)
df_brazil_summer_groupby_sport_and_sex_height

Sport             Sex
Archery           F      162.86
                  M      177.85
Art Competitions  M         NaN
Athletics         F      167.49
                  M      180.07
                          ...
Water Polo        M      181.42
Weightlifting     F      161.50
                  M      171.78
Wrestling         F      169.33
                  M      182.14
Name: Height, Length: 63, dtype: float64

In [15]:
df_brazil_summer_groupby_sport_and_sex_weight = round(df_brazil_summer.groupby(["Sport", "Sex"])["Weight"].mean(), 2)
df_brazil_summer_groupby_sport_and_sex_weight

Sport             Sex
Archery           F      59.71
                  M      78.15
Art Competitions  M        NaN
Athletics         F      59.81
                  M      71.55
                         ...
Water Polo        M      85.72
Weightlifting     F      62.75
                  M      90.00
Wrestling         F      66.67
                  M      97.29
Name: Weight, Length: 63, dtype: float64

Qual foi (ou quais foram) o maior medalhista brasileiro em quantidade total de medalhas?

In [16]:
df_brazil_with_medals['Name'].value_counts()[df_brazil_with_medals['Name'].value_counts() == df_brazil_with_medals['Name'].value_counts().max()]

Torben Schmidt Grael    5
Robert Scheidt          5
Name: Name, dtype: int64

E o(s) maior(es) em quantidade de medalhas de ouro?

In [17]:
df_brazil_with_medals_only_golds = df_brazil_with_medals[df_brazil_with_medals['Medal'] == 'Gold']

df_brazil_with_medals_only_golds['Name'].value_counts()[df_brazil_with_medals_only_golds['Name'].value_counts() == df_brazil_with_medals_only_golds['Name'].value_counts().max()]

Fabiana "Fabi" Alvim de Oliveira                      2
Sheilla Tavares de Castro Blassioli                   2
Marcelo Bastos Ferreira                               2
Torben Schmidt Grael                                  2
Giovane Farinazzo Gvio                                2
Jaqueline Maria "Jaque" Pereira de Carvalho Endres    2
Paula Renata Marques Pequeno                          2
Fabiana Marcelino Claudino                            2
Robert Scheidt                                        2
Adhemar Ferreira da Silva                             2
Thasa Daher de Menezes                                2
Maurcio Camargo Lima                                  2
Srgio "Escadinha" Dutra dos Santos                    2
Name: Name, dtype: int64

Qual esporte rendeu mais medalhas de ouro para o Brasil? E qual rendeu mais medalhas no total?

**DICA:** tome muito cuidado nessa análise: cada **evento esportivo** rende 1 medalha. Por exemplo, quando a equipe de futebol vence, isso é considerado 1 medalha, mesmo tendo cerca de 20 atletas medalhistas na equipe.

In [189]:
## Tirar duvida

df_brazil_with_medals_groupby_sport = df_brazil_with_medals.groupby(by=['Sport', 'Event', 'Year']).size()

df_brazil_with_medals_groupby_sport_cumcount = df_brazil_with_medals_groupby_sport.groupby('Sport').cumcount() + 1

df_brazil_with_medals_groupby_sport_cumcount.idxmax()[0]

# max_sport = df_brazil_with_medals_groupby_sport_cumcount.max()


# df_brazil_with_medals_groupby_sport_cumcount[df_brazil_with_medals_groupby_sport_cumcount == max_sport]
# df_brazil_with_medals_groupby_sport['Volleyball'].groupby('Year').cumcount() + 1

# df_brazil_with_medals_groupby_sport = df_brazil_with_medals_groupby_sport

# df_brazil_with_medals_groupby_sport = df_brazil_with_medals_groupby_sport.sort_index(axis=0).groupby('Year').cumcount() + 1

# df_brazil_with_medals_groupby_sport['Volleyball']
# df_brazil_with_medals.groupby(['Sport', 'Event', 'Year'])['Medal'].value_counts()[df_brazil_with_medals.groupby(['Sport', 'Event', 'Year'])['Medal'].value_counts() == df_brazil_with_medals.groupby(['Sport', 'Event', 'Year'])['Medal'].value_counts().max()]

#df_brazil_with_medals_only_golds['Name'].value_counts()[df_brazil_with_medals_only_golds['Name'].value_counts() == df_brazil_with_medals_only_golds['Name'].value_counts().max()]
# df_brazil_with_medals

'Judo'

Cada "categoria" dentro de um esporte é considerado um evento. Por exemplo, dentro de "atletismo", temos uma competição de 100m masculina, uma de 100m feminino, um revezamento 4 x 100m masculino, um revezamento 4 x 100m feminino, uma competição de 400m masculino, uma de 400m feminino, uma maratona masculina, uma maratona feminina, e assim sucessivamente.

Sabendo disso, qual evento esportivo mais rendeu medalhas de ouro para o Brasil? E total de medalhas?

In [212]:
df_brazil_with_medals_groupby_event_and_year = df_brazil_with_medals.groupby(by=['Event', 'Year']).size()

df_brazil_with_medals_groupby_event_cumcount = df_brazil_with_medals_groupby_event_and_year.groupby('Event').cumcount() + 1

# df_brazil_with_medals_groupby_event_cumcount.idxmax(0)
max_event = df_brazil_with_medals_groupby_event_cumcount.max()

max_events = df_brazil_with_medals_groupby_event_cumcount[df_brazil_with_medals_groupby_event_cumcount == max_event]

max_events_names = [event_name[0] for event_name in max_events.index]

max_events_names

["Athletics Men's Triple Jump",
 "Football Men's Football",
 "Volleyball Men's Volleyball"]

Para finalizar sobre o Brasil: obtenha o total de medalhas de ouro, prata, bronze e total por ano.

## 2. O mundo nos jogos de verão

Vamos agora analisar um pouquinho do que aconteceu nas Olimpíadas de verão em todo o mundo.

Retome o DataFrame original e descarte as informações sobre os jogos de inverno.

Obtenha a lista de todos os esportes já disputados nas olimpíadas de verão.

Obtenha a lista de todas as modalidades esportivas já disputadas nas olimpíadas de verão.

Obtenha a lista de todos os países que já disputaram olimpíadas.

Qual atleta foi o maior medalhista (em medalhas totais) da história das olimpíadas de verão?

Qual atleta foi o maior medalhista de ouro da história das olimpíadas de verão?

Qual país foi o maior medalhista de ouro da história das olimpíadas de verão? Lembre-se da questão do evento esportivo, para não considerar múltiplas medalhas para um mesmo evento (ex: uma equipe de futebol fazendo parecer que mais de 20 medalhas foram distribuídas).

Qual país foi o maior medalhista em medalhas totais na história das olimpíadas de verão?

Obtenha o total de medalhas de ouro, prata e total por edição das Olimpíadas de verão. Lembre-se da questão do evento esportivo.

## 3. Brasil vs Mundo

Para finalizar, vamos fazer algumas comparações entre Brasil e mundo. Qual o ranking do Brasil em cada edição das olimpíadas? Lembrando que o ranking é ordenado por medalhas de ouro.

Compare o maior medalhista em ouros do Brasil com o maior medalhista em ouros do mundo.

Compare o maior medalhista em total de medalhas do Brasil com o maior medalhista em total de medalhas do mundo.

Compare o maior medalhista em ouros do Brasil com o maior medalhista do mundo no mesmo esporte.

Compare o maior medalhista em total de medalhas do Brasil com o maior medalhista do mundo no mesmo esporte.

Calcule o percentual de medalhas de ouro, prata e bronze que o Brasil ganhou em cada olimpíada.